.bgImgContainer {
	position: fixed;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	z-index: -10;
}

.headerImgContainer {
	position: relative;
	overflow: hidden;
	text-decoration: none;
}

.headerImg {
	background-repeat: no-repeat;
	background-size: 100% auto;
	z-index: -1;
}

.outlinedText {
	text-shadow:
		-1px 1px 8px var(--mui-palette-dark-main),
		1px 1px 8px var(--mui-palette-dark-main),
		1px -1px 8px var(--mui-palette-dark-main),
		-1px -1px 8px var(--mui-palette-dark-main);
}

.fbBrandColor {
	color: #4267b2;
}

.facebookBtn:not(:hover) {
	background: #4267b2;
}

.googleBrandColor {
	background: conic-gradient(
			from -45deg,
			#ea4335 110deg,
			#4285f4 90deg 180deg,
			#34a853 180deg 270deg,
			#fbbc05 270deg
		)
		73% 55%/150% 150% no-repeat;
}
